@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Outline';
    src: url('/fonts/LondrinaOutline-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Normal';
    src: url('/fonts/PlaywriteDEGrund-VariableFont_wght.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Stylish';
    src: url('/fonts/PlaywriteNGModern-VariableFont_wght.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
  
 
  body {
    font-family: 'Outline', sans-serif;
   
  }